%h1 Gastos por programa

%table#pge.display
	%thead
		%tr
			%th Programa
			%th Gasto ('000)
	%tbody
		-@programmes.each do |p|
			%tr
				%td
					%a{:href=>"/programme/#{p.programme}"} #{p.programme} #{p.description}
				%td.right #{p.amount.to_i} €
