%h1 Gastos por sección

%table#pge.display
	%thead
		%tr
			%th Sección
			%th Gasto ('000 €)
	%tbody
		-@sections.each do |s|
			%tr
				%td
					%a{:href=>"/section/#{s.section}"} #{s.description}
				%td.right #{s.amount.to_i}
