!!! 5
%html
	%head
		%meta{'http-equiv' => 'Content-Type', :content => 'text/html;charset=utf-8'}/
		%title PGE
		%link{"rel" => "stylesheet", "href" => "/css/demo_page.css", "type" => "text/css"}
		%link{"rel" => "stylesheet", "href" => "/css/demo_table.css", "type" => "text/css"}

		-if ENV["RACK_ENV"] == "production"
		  %script{ :type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js" }
		-else
	    %script{ :type => "text/javascript", :src => "/js/jquery.js" }
		%script{ :type => "text/javascript", :src => "/js/jquery.dataTables.js" }

		-if ENV["RACK_ENV"] == "production"
			:javascript
				var _gaq = _gaq || [];
				_gaq.push(['_setAccount', 'UA-431041-4']);
				_gaq.push(['_trackPageview']);

				(function() {
					var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
					ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
					var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
				})();


		:javascript
			function hideChildRows() {
				$('.row_level_2').hide();
				$('.row_level_3').hide();
				$('.row_level_4').hide();
				$('.row_level_5').hide();
			};
			
			$(document).ready(function() {
				$('#pge').dataTable({
					'bInfo': false,
					'bPaginate': false,
					'bAutoWidth': false,
					'bFilter': false
				});
				hideChildRows();
			} );

			function toggleYear(year) {
				$('.year'+year).toggle();
			};

			function toggleCategory(category) {
				$('.parent'+category).toggle();
			};

	%body#dt_example
		#container
			= yield